@import 'variables';

@mixin tablet{
    @media only screen and (min-width: $tablet-breakpoint){
        .header{
            display: flex;
            // justify-content: space-between;
            align-items: baseline;
            &__menu{
                display: flex;
                justify-content: space-evenly;
                width: 50%;
            }
        }
    }
}

@mixin desktop {

}