@import '../mixins';
@import '../variables';

.header{
    // display: flex;
    border-bottom: 2px solid tomato;
    background-color: skyblue;
    color: white;
    &__logo{
        // width: 2em;
        // height: 2em;
    }
    &__menu{
        display: flex;
        &-item{
            // width: 10em;
            list-style: none;
        }
        &-link{
            text-decoration: none;
            color: white;
        }
    }
}

@include tablet;