@import '../mixins';
@import '../variables';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#logo-wrap{
    display: flex;
    justify-content: center;
}
.header{
    &__logo{
        // display: flex;
        // justify-content: center;
        // text-align: center;
        // margin-left: 4em;
    }
    &__container{
        display: flex;
        justify-content: space-evenly;
        border: 1px solid rgb(87, 165, 179);
        align-items: center;
        // vertical-align: middle;
        background-color: rgba(87, 165, 179, 0.9);
    }
    &__menu{
        display: flex;
        width: 60%;
        justify-content: space-between;
        align-items: center;
        // box-sizing: content-box;
        padding-top: 15px;
        &-item{
            // width: 10em;
            list-style: none;
        }
        &-link{
            text-decoration: none;
            color: white;
            font-size: large;
            &:hover{
                text-decoration: none;
                padding-bottom: 10px;
                border-bottom: 2px solid rgba(221, 37, 37, 0.74);
                transition: 0.1s ease;
                // scroll-behavior: smooth;
            }
        }
    }
    &__auth{

    }
}

@include tablet;
@include desktop;