@import '../mixins';
@import '../variables';

.header{
    // height: 6.5em;
    // display: flex;
    // border-bottom: 2px solid tomato;
    background-color: rgb(18, 176, 238);
    color: white;
    &__menu{
        display: flex;
        &-item{
            // width: 10em;
            list-style: none;
        }
        &-link{
            text-decoration: none;
            color: white;
        }
    }
}

@include tablet;