@import "../../components/mixins";
@import "../../components//variables";

.hero {
  position: relative;
  text-align: center;
  color: white;
  background-color: rgb(87, 165, 179);
  &__header {
    width: 100%;
    font-size: 1.5em;
    position: absolute;
    &-strength {
      text-transform: uppercase;
      color: gold;
    }
  }
  &__text-wrap {
    padding: 1em 0;
    background-color: rgba(42, 55, 58, 0.5);
    height: 10em;
    width: 100%;
    position: absolute;
    top: 24%;
  }
  &__text {
    width: 100%;
    position: absolute;
    top: 38%;
    font-size: 1.1em;
  }
  &__CTA {
    background-color: rgba(87, 165, 179, 0.9);
    border-radius: 8px;
    padding: 5px 10px;
    color: white;
    border: 1px solid rgb(87, 165, 179);
    position: absolute;
    top: 88%;
    left: 50%;
    transform: translate(-50%, -50%);
    &:hover {
      color: rgb(87, 165, 179);
      background-color: white;
      transition: 0.2s ease-in;
    }
  }
}
.home__body {
  padding: 1em;
  background-color: rgb(87, 165, 179);
  color: white;
}
.home__body li {
  text-align: left;
  list-style-type: circle;
}
#immunization-schedule {
  color: white;
  background-color: rgba(131, 184, 196, 0.5);
}
#myVideo {
  width: 100%;
}

@include tablet;
@include desktop;