.hero {
  position: relative;
  text-align: center;
  color: white;
  background-color: rgb(87, 165, 179);
  &__header {
    //   margin: 0 5px;
    background-color: rgba(42, 55, 58, 0.5);
    width: 90%;
    font-size: 1.7em;
    position: absolute;
    top: 49%;
    left: 48%;
    transform: translate(-50%, -50%);
    border-radius: 5px;
    &-key{
        // color: tomato;
    }
    &-strength{
        text-transform: uppercase;
        color: gold;
    }
    // -webkit-text-stroke: 0.7px rgb(87, 165, 179);
    // color: rgb(87, 165, 179);
  }
  &__text {
    background-color: rgba(42, 55, 58, 0.5);
    border-radius: 5px;
    // padding: 5px 0;
    // font-size: large;
    width: 90%;
    // font-size: 1.8em;
    position: absolute;
    top: 72%;
    left: 48%;
    transform: translate(-50%, -50%);
  }
  &__CTA{
    background-color: rgba(87, 165, 179, 0.9);
    border-radius: 8px;
    padding: 5px 10px;
    color: white;
    border: 1px solid rgb(87, 165, 179);
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
.home__body{
    background-color: rgb(87, 165, 179);
    border: 1px solid rgb(87, 165, 179);
    color: white;
    max-width: 100%;
    // margin: 1em;
}
#myVideo {
  width: 100%;

}
