@import '../../components/mixins';
@import '../../components/variables';

html{
    background-color: rgb(87, 165, 179);
}
.container_login{
    background-color: rgb(87, 165, 179);
}
.login{
    box-sizing: border-box;
    margin: 5em 1em ;
    
    color: white;
    &__wrapper{
        border: 2px solid white;
        border-radius: 1em;
    }
    &__description-wrap{
        display: none;
    }
    &__inputs{
        margin: 1em;
    }
    &__CTAs{
        margin: 1em;
    }
    &__logo{
        display: flex;
        justify-content: center;
    }
    &__login{
        background-color: white;
        color: rgb(87, 165, 179);;
        border: 2px solid white;
        border-radius: 15px;
        width: 80%;
        // &:hover{
        //     transform: scale(1.1);   
        // }
    }
    &__signup{
        color: white;
        background-color: rgb(87, 165, 179);
        border: none;
    }
    &__lang{
        margin-top: 1.5em;
        // border: 1px solid white;
        width: 100%;
        display: flex;
        justify-content: space-evenly;
    }
}
.input{
    width: 90%;
    margin: 5px auto;
    border-radius: 5px;
    border: 2px solid rgba(0, 0, 0, 0.5);
    padding: 0 1em;
}
.langInput{
    color: whitesmoke;
    background-color:rgba(0, 0, 0, 0.2);
    border: none;
    border-radius: 5px;
    padding: 0 1em;
}

@include tablet;
@include desktop;